* {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/**----------------------------------------------**/
.header {
  padding-top: 15px;
  background-color: #000;
}
.header .header-content {
  padding-bottom: 15px;
}
.header .header-content .logo img {
  width: auto;
}
.header .header-content .user-section .cart {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  transform: translateY(5px);
}
.header .header-content .user-section .cart img {
  width: auto;
  transform: translateY(-5px);
}
.header .header-content .user-section .button-area a {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  transition: all 0.5s;
}
.header .header-content .user-section .button-area a:hover {
  background-color: #fff;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
.header .navbarShop {
  background-color: #fff;
  padding: 15px 0;
}
.header .navbarShop .nav {
  transition: all 0.5s;
}
.header .navbarShop .nav a {
  font-size: 20px;
  font-weight: 300;
  color: #000;
  opacity: 0.7;
  border-bottom: none;
}
.header .navbarShop .nav a.active, .header .navbarShop .nav a:hover {
  border-bottom: 1px solid #000;
  opacity: 1;
}

.carousel {
  background-image: url("/img/image 6.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
  height: 450px;
}
.carousel .carousel-right .shoe-info .shoe-name {
  font-size: 40px;
  font-weight: 300;
  color: #000;
}
.carousel .carousel-right .shoe-info .shoe-description {
  font-size: 20px;
  font-weight: 300;
  color: #000;
}
.carousel .carousel-right .shoe-info .btnBuy {
  transition: all 0.5s;
  background: #E1B067;
  padding: 15px 25px;
  border: none;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}
.carousel .carousel-right .shoe-info .btnBuy:hover {
  background: #DEDDDC;
  color: #ff0000;
}

.product-feature {
  padding-top: 25px;
}
.product-feature .row {
  margin-top: 50px;
}
.product-feature .row .col-4 .card {
  background-color: #F8F8F8;
}
.product-feature .row .col-4 .card .card-top {
  padding: 20px;
}
.product-feature .row .col-4 .card .card-body {
  padding: 20px;
}
.product-feature .row .col-4 .card .card-body .card-title {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}
.product-feature .row .col-4 .card .card-body .card-text {
  font-size: 20px;
  font-weight: 300;
  color: #CBC9C9;
}
.product-feature .row .col-4 .card .card-footer {
  padding: 0;
  background-color: #DEDDDC;
}
.product-feature .row .col-4 .card .card-footer .btnBuy {
  transition: all 0.5s;
  background: #E1B067;
  padding: 15px 25px;
  border: none;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}
.product-feature .row .col-4 .card .card-footer .btnBuy:hover {
  background: #DEDDDC;
  color: #ff0000;
}
.product-feature .row .col-4 .card .card-footer .price {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}